name: Integration

on:
  pull_request:
  push:
    branches:
      - master
      - production

jobs:
  integration:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: ['8.1', '8.2']

    name: php
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up php ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: none

      - name: Install composer
        run: composer install

      - name: Start webserver
        run: php -S localhost:8888 &

      - name: Run behat
        run: cd tests/integration && ../../vendor/bin/behat --colors .

  summary:
    runs-on: ubuntu-latest
    needs: integration

    if: always()

    name: integration-summary

    steps:
      - name: Summary status
        run: if ${{ needs.integration.result != 'success' && needs.integration.result != 'skipped' }}; then exit 1; fi
