name: Check config.php is up-to-date with JSON configuration files

on: pull_request

permissions:
  contents: read

concurrency:
  group: config-up-to-date-check-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  config-up-to-date-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Make sure config.php is up-to-date with JSON files
        run: |
          mv config/config.php config/config_pr.php
          make config/config.php
          diff config/config_pr.php config/config.php
